* {
  box-sizing: border-box;
}
.meta__description {
  width: 100%;
  float: left;
  color: #007bff;
  padding: .8rem;
}
@media (max-width: 901px) {
  .meta__description {
    font-size: 2.5rem;
  }
}
.site__header {
  border-bottom: .08rem solid #e5e5e5;
}
@media (max-width: 901px) {
  .site__header h1,
  .site__header h3,
  .site__header h3 {
    font-size: 2rem;
  }
}
.site__main {
  padding: 1.2rem 0;
}
.site__main article .article__content {
  color: #777;
}
@media (max-width: 901px) {
  .site__main article h1,
  .site__main article h3,
  .site__main article h3 {
    font-size: 1.5rem;
  }
}
.form__ajax-insert {
  width: 100%;
  padding: 2rem 0;
}
.form__ajax-insert label {
  width: 100%;
}
.form__ajax-insert .form__ajax-insert-button-wrap {
  width: 100%;
}
.form__ajax-insert .form__ajax-insert-button-wrap button {
  float: left;
}
.form__ajax-insert .form__ajax-insert-button-wrap .form__ajax-insert-button-preload {
  transition: opacity .3s ease;
  opacity: 0;
  background: transparent url("../images/preloader.gif") no-repeat center center / cover;
  width: 38px;
  height: 38px;
  margin-left: .5rem;
  float: left;
}
.form__ajax-insert .form__ajax-insert-button-wrap .form__ajax-insert-button-preload.active {
  opacity: 1;
}
.site__footer {
  border-top: .05rem solid #e5e5e5;
  padding-top: 1.5rem;
  color: #777;
}
